params {
  input_dir = "/project/trampush_325/gwm/analysis/gwas/cnp"
  input_pat = "cnp_b37_qc_eur_norel"
  output = "cnp-assoc"
  output_dir = "/project/trampush_325/gwm/analysis/gwas/cnp/results_assoc"
  data = "/project/trampush_325/gwm/analysis/gwas/cnp/phe_cognition_cnp.dat"
  pheno = "phe_digit_span_bkwd"
}
