// GWM QC
export study=cnp
export binary="$study"_b37_qc_eur_norel

params {
  work_dir = "/project/trampush_325/gwm/analysis/gwas"
  input_dir = '/project/trampush_325/gwm/analysis/gwas/"$study"'
  input_pat = "$binary"
  output = "$study_binary_qc"
  output_dir = '/project/trampush_325/gwm/analysis/gwas/"$study"/output_gwas_qc'

  high_ld_regions_fname = '/project/trampush_325/gwm/analysis/gwas/"$study"/UTILITY_highLDregions.awk'
  sexinfo_available = false
  cut_het_high = 0.343
  cut_het_low = 0.15
  cut_maf = 0.001
  cut_geno = 0.05
  cut_mind = 0.05
  cut_hwe = 0.000005
  cut_het_high = 0.343
  cut_het_low = 0.15
  cut_diff_miss = NULL
  pi_hat = 0.11
  super_pi_hat = 0.7
  f_lo_male = 0.8 // default for F-sex check -- >= means male
  f_hi_female = 0.2 // <= means female
}
