# regenie qc

## regenie

salloc --time=1:00:00 --tasks=1 --cpus-per-task=16 --mem=24GB --account=trampush_325

plink2 \
  --bfile cnp_b37_qc_eur_norel \
  --maf 0.01 --mac 100 --geno 0.1 --hwe 1e-15 \
  --mind 0.1 \
  --write-snplist --write-samples --no-id-header \
  --out cnp_qc_pass

# regenie assoc

regenie3 --step 1 --bed cnp_b37_qc_eur_norel --covarFile cnp_b37_qc_eur_norel.eigenvec --phenoFile phe_cognition_cnp.txt --bsize 100 --lowmem --lowmem-prefix tmp_rg --out fit_bin_out


regenie3 --step 2 --bed cnp_b37_qc_eur_norel --covarFile cnp_b37_qc_eur_norel.eigenvec --phenoFile phe_cognition_cnp.txt --bsize 100 --lowmem --lowmem-prefix tmp_rg --out fit_bin_out
